<div class="search-wrapper">

    <div  class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">{{model.name}}</h5>
            <h6 class="model-subtitle mb-2 text-muted">{{model.address.zipcode}}</h6>
            <p class="model-text">{{model.address.city}}-{{model.address.street}}</p>
            <a href="#" class="card-link">{{model.username}}</a>
            <a href="#" class="card-link">{{model.email}}</a>
            </div>
    </div>
    
</div>